.active{
    text-decoration: underline;
}

nav.main{
    background: linear-gradient(rgb(243, 244, 246), rgb(209, 213, 219));
}

.dark nav{
    background: #010B13;
    color: #e1e1e1;
    color: rgba(255,255,255,0.7);
    background: rgba(1, 11, 19, 0.5);
}

.nav-dropdown-item:hover{
    text-decoration: none;
}