@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*::-webkit-scrollbar{
  width:10px;
}

*::-webkit-scrollbar-track{
  background:#727a8a;
}

*::-webkit-scrollbar-thumb{
  background-color:#afb4bd;
  border-radius:20px;
  border:1px solid #5b626e;
}

*::-webkit-scrollbar-thumb:hover{
  background-color:#5b626e;
}

::selection{
  background:#1f2937;
  background:rgba(31, 41, 55, 0.9);
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}

::-moz-selection{
  background:#1f2937;
  background:rgba(31, 41, 55, 0.8);
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}

.dark ::-moz-selection{
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  color: rgba(0, 0, 0, 0.8);
}

.dark ::selection{
  background:#fff;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  color: rgba(0, 0, 0, 0.8);
}

body {
  font-family: var(--font-hind);
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    max-width:100%;
    overflow-x:hidden;
}

html.dark, html.dark body{
  background: #1f2937;
}

h1, h2, h3{
  font-family: var(--font-dm);
}

.dark h1, .dark h2, .dark h3, 
.dark h4, .dark h5, .dark h6 
.dark b, .dark i, .dark code,
.dark strong {
  color:#fff;
}

.dark p {
  color: rgba(255, 255, 255, 0.8);
}

.dark a{
  color: #fff;
}

.dark a:hover{
  color: #acacac;
  text-decoration: none;
}

.dark blockquote{
  color: #fff;
  border-color: #fff;
}

h1.bold-title{
  background: -webkit-linear-gradient(#666666, #343434);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark h1.bold-title{
  background: -webkit-linear-gradient(#ffffff, #e1e1e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}