<footer role="contentinfo">
  <div
  {{ if eq .Site.Params.showThemeSwitcher false }}style="display: none;"{{ end }}
  >
    <label for="themer">
      {{ T "dark_theme" }} <input type="checkbox" id="themer" class="vh">
      <!-- Shows "on" or "off" -->
      <span aria-hidden="true"></span>
    </label>
  </div>
  <div>
    <a target="_blank" href="https://www.alignable.com/ocean-city-nj/blazed-labs-llc">
      <img alt="Recommended by Locals On Alignable" title="Recommended by Locals On Alignable" src="https://www.alignable.com/assets/badge/alignable-r3.png" />
    </a>
  </div>
  {{ with .Site.Params.footer }}
    {{ . | markdownify }}
  {{ end }}
</footer>
