.Comments{
    padding:10px 0px;
}

.CommentText{
    border:2px solid rgba(0,0,0,0.5);
    padding:5px;
    margin-right:5px;
    resize:vertical;
    max-height:150px;
    min-height:50px;
    width:200px;
    border-radius: 5px;
}

.SubmitButton{
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color:rgba(255,255,255,0.6);
    border-radius: 5px;
    padding: 3px 10px;
    max-height:50px;
}

.SubmitButton:hover{
    background-image: linear-gradient(to left, #6a4bbf, #b393d3);
    color:rgba(255,255,255,0.8);
}

.SubmitButton:disabled{
    background-image: linear-gradient(to left, #7b7b7b, #a1a1a1);
    color:rgba(0,0,0,0.6);
}